* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background: #ffc0cb;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    color: white;
 }

nav {
  padding: 1rem 3rem ;
  background: #d8bfd8;
  position: absolute;
  right: 30px;
}
  nav ul{
    display: flex;
    flex-direction: row;
  }
  nav ul li{
    margin-right: 2rem;
  }
  nav ul li a {
    color: white;
  }

main{
  display: flex;
  flex-wrapï¼šwrap;
  margin: 0px 200px;
}

  section{
    flex: 3;
    padding: 3rem;
    background: #ffdbed;
  }

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #ffffff
    }

  aside{
    flex: 1;
    padding: 3rem;
    background: #ffffcc;
    color: dimgray;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #dbdbff;
  color: white;
